.experience-section {
    margin-top: 4rem;
}

.overview {
    margin-top: 2rem;
    margin-left: 10rem;
}

.overview-details {
    border-bottom: 1px solid gray;
}

li {
    width: 20vw;
}

.volunteer {
    padding-left: 0;
    align-items: center;
    font-size: 12px;
    list-style: none;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    text-align: left;

}

.volunteer-year-desc {
    font-weight: 700;
}

.experience-title {
    display: inline;
    margin-top: 2rem;
    font-size: 16px;
    position: relative;
}

.experience-title::after {
    content: ' ';
    position: absolute;
    height: 2px;
    left: 0;
    bottom: 0;
    width: 0;
    background-color: black;
    transition: width .2s;
}

.experience-title:hover:after {
    width: 100%;
}