.spotify-section {
    margin-top: 4rem;
    
}

.spotify-title {
    display: inline-block;
    font-size: 16px;
}

.track {
    background: #1f1f1f;
    padding: 10px;
    margin-top: 10px;
    border-radius: 12px;
    color: white;
    display: flex;
    gap: 10px;
}

.track img {
    border-radius: 8px;
    transition: 200ms;
}

.track p {
    margin-bottom: 5px;
}

.track:hover img {
    filter: blur(2px);
    transition: 200ms;
}

.track h1 {
    font-size: 16px;
    margin-top: 0px;
}