body {
    font-family: "Geist", sans-serif;
    padding-inline: 4rem;
}

h1 {
    font-size: x-large;
}

p {
    font-size: 12px;
    font-weight: 500;
}


#masked-text-container {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
}

.masked-text {
    font-size: 15vw;
    background-clip: text;
    background-size: cover;
    color: black;
    transition: 500ms;
    margin: 0;
    pointer-events: none;
    letter-spacing: -5px;
    margin-inline: auto;
    overflow: hidden;
    border-right: 3px solid;
    animation: typing 2s steps(11) , blink 1s step-end infinite;
}

@keyframes typing {
    from {
        width: 0;
    }

    to {
        width: 55%;
    }
}

@keyframes blink {
    50% {
        border-color: transparent ;
    }
}

#masked-text-container:hover > #masked-text {
    transition-duration: 500ms;
    color: transparent;
    background-image: url(tribute.gif);
    letter-spacing: 0.2px;
    
}

.profile-section {
    display: flex;
    align-items: center;
    margin-top: 2rem;
    text-align: left;
}

.Abbreviation-container {
    display: flex;
    align-items: center;
    justify-content: space-between; 
}

.fullname {
    font-size: 10px;
}

.email {
    font-size: 10px;
    text-decoration: underline;
}

.profile-title {
    margin-top: 0;
    font-size: 16px;
}

.profile-picture {
    border-radius: 8px;
    width: 150px;
    height: 150px;
    transition: 500ms;
}

.profile-picture:hover {
    opacity: 75%;
    transition: 500ms;
    filter: blur(2px);
}

.profile-description {
    margin-right: 100px;
}

.profile-contact {
    display: flex;
}

.github {
    margin-right: 10px;
    transition: 500ms;
}

.github:hover {
    transition: 500ms;
    opacity: 25%;
}

.twitter {
    transition: 500ms;
    margin-right: 10px;
}

.twitter:hover {
    transition: 500ms;
    opacity: 25%;
}

.linkedin {
    transition: 500ms;
    margin-right: 10px;
}


.linkedin:hover {
    transition: 500ms;
    opacity: 25%;
}



